{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Budget Prévu</th>
                <th>Seuil Alerte</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.idCategorie }}</td>
                <td>{{ categorie.nomCategorie }}</td>
                <td>{{ categorie.budgetPrevu }}</td>
                <td>{{ categorie.seuilAlerte }}</td>
                <td>
                    <a href="{{ path('app_categorie_show', {'id': categorie.idCategorie}) }}">Voir</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.idCategorie}) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">Créer une nouvelle catégorie</a>
{% endblock %}
