{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <h1>Catégorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.idCategorie }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorie.nomCategorie }}</td>
            </tr>
            <tr>
                <th>Budget Prévu</th>
                <td>{{ categorie.budgetPrevu }}</td>
            </tr>
            <tr>
                <th>Seuil Alerte</th>
                <td>{{ categorie.seuilAlerte }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_index') }}">Retour à la liste</a>

    <a href="{{ path('app_categorie_edit', {'id': categorie.idCategorie}) }}">Modifier</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}